.tag-1 {
    background: none;
    z-index: 0;
    display: none;
    opacity: 0;
  }
  
  #wall #tag-2 {
    background: none;
    z-index: 0;
    display: none;
    opacity: 0
  }
  
  div#wall #tag-3.slick {
    background: none;
    z-index: 0;
    display: none;
    opacity: 0
  }
  
  #wall #tag-4 {
    background: none;
    z-index: 0;
    display: none;
    opacity: 0
  }
  
  div#wall .parent #tag-5.slick {
    background: none;
    z-index: 0;
    display: none;
    opacity: 0
  }
  
  div#wall div.parent div:last-child div#tag-6 {
    background: none;
    z-index: 0;
    display: none;
    opacity: 0
  }
  
  body div#wall div.parent div > #tag-7.slick {
    background: none;
    z-index: 0;
    display: none;
    opacity: 0
  }
  